* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-weight: bold;
}


html, body {
    padding: 1%;
    font-family: 'Montserrat', sans-serif;
}

.superContainer {
    border: 1px solid rgb(22, 4, 113);
    border-radius: 30px;
    /* background-image: url(img/background-balance-business-583846.jpg); */
     
}

.main-container {
    background-image: linear-gradient(45deg, rgb(22, 4, 113), blue, rgb(22, 4, 113));
}

h1 {
    position: relative;
    text-align: center;
    font-size: 64px;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 30px;
    padding: 5%;
}

h3 {
    font-size: 20px;
    padding: 0%;
}

.logo {
    display: flex;
    float: left;
    width: 10%;
    height: 10%;
    filter: grayscale(90%);
    border-radius: 30%;
    flex-shrink: 1;
}

.header {
    height: 200px;  
    padding: 5%;
    background-color: rgb(22, 4, 113);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgb(22, 4, 113);
    padding: 1%
}

.navigation > a {
    font-size: 20px;
    transition: all .2s ease-in-out;
    padding: 1%;
    margin-bottom: 2%;
    margin-top: 3%;
}

.navigation > a:hover {
    background: transparent;
    border-radius: 15%;
    border-spacing: 100px;
    transform: scale(1.2);
    color: lightgrey;
}

.intro {
    display: flex;
    flex-direction: row;
    padding: 0% 15%;
    margin: 5%;
    align-items: center;
    justify-content: center;
}

.introitem {
    width: 60%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.introitem2 {
    height: auto;
    width: 60%;
}

.johnnyComment {
    justify-content: flex-end;
    font-size: 16px;
    font-style: italic;
    padding-bottom: 2%;
}

.johnnyAuthor {
    font-size: 12px;
}

.imgJohnny {
    width: 50%;
    height: auto;
    border-radius: 10%;
    float: center;
}

section {
    /* margin: 0%;   
    text-align: center; */
}


.infoboxes {
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(22, 4, 113);
}

.infobottom {
    background-color: rgb(22, 4, 113);
}

i {
    width: 20%;
    height: 20;
}

footer {
    text-align: center;
    background-color: rgb(22, 4, 113);
}

.uppdrag {
    text-align: center;
}
.uppdragBoxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4%;
    font: 10px;
    font-style: italic;
}

.uppdragImgs {
    width: 60%;
    height: 60%;
    border-radius: 5%;
    transition: all .2s ease-in-out;
    filter: grayscale(100%);
}

.uppdragImgs:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

figcaption {
    padding: 5%;
    margin: 5%;
}

.about {
    display: grid;
    grid-template-areas:
        'video video rundtur1'
        'video video rundtur2';
    grid-gap: 10px;
    text-align: center;
    margin: 0% 10%;
}

.abouth {
    text-align: center;
}

.youtubevid {
    grid-area: video;
    align-items: center;
    justify-content: center;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
}

.rundtur1 {
    grid-area: rundtur1;
    background: url(img/office.jpg);
    background-size: cover;
    background-position: center;
}

.rundtur2 {
    grid-area: rundtur2;
    background: url(img/uppdrag.jpg);
    background-size: cover;
    background-position: center;
}

.jobb {
    display: grid;
    grid-template-areas:
        'spot1 spot1 pdf'
        'spot2 spot2 pdf'
        'spot3 spot3 pdftext';
        grid-gap: 10px;
        
        padding: 0% 15%;
}

.spot {
    height: 150px;
}

.spot p {
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
}

.spot1 {
    grid-area: spot1;
}

.spot2 {
    grid-area: spot2;
}

.spot3 {
    grid-area: spot3;
}

.pdf {
    grid-area: pdf;
}

.pdftext {
    grid-area: pdftext;
    
}


i {
    transition: all .2s ease;
}

i:hover {
    transform: scale(1.2);
    color: lightgrey;
}


@media screen and (max-width: 406px) {
    .navigation {
        flex-direction: column;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 14px;
    }
    h3 {
        font-size: 12px;
    }
    .uppdragBoxes {
        flex: wrap;
        flex-direction: column;
        margin: 1%;
    }
    figcaption {
        font-size: 11px;
    }
    .infoboxes {
        margin: 0%;
        justify-content: space-between;
    }
    .header {
        height: 90px;
    }
    .navigation > a {
        font-size: 14px;
    }
}
