* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-weight: bold;
}


html, body {
    padding: 0.5%;
    font-family: 'Montserrat', sans-serif;
}

.superContainer {
    border: 1px solid black;
    border-radius: 30px;
    /* background-image: url(img/background-balance-business-583846.jpg); */
    background-image: linear-gradient(45deg,blue, black);   
}

.logo {
    float: left;
    width: 10%;
    height: 10%;
    filter: grayscale(90%);
    border-radius: 30%;
}

.header {
    padding: 5%;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.johnnyComment {
    font-size: 12px;
    font-style: italic;
    width: 15%;
    padding-left: 5%;
}
.imgJohnny {
    width: 15%;
    height: 15%; 
    border-radius: 10%;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 64px;
    font-weight: bold;
}


.navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.navigation > a {
    font-size: 20px;
    transition: all .2s ease-in-out;
    padding: 1%;
    margin-bottom: 2%;
    margin-top: 3%;
}

.navigation > a:hover {
    background: transparent;
    border-radius: 15%;
    border-spacing: 100px;
    transform: scale(1.2);
    color: lightgrey;
}

h2 {
    font-size: 30px;
    padding: 5%;
}

section {
    margin: 10%;   
    text-align: center;
}

.infoboxes {
    padding-left: 15%;
    padding-right: 15%;
    margin: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

i {
    width: 20%;
    height: 20;
}

footer {
    text-align: center;
}


.uppdragBoxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4%;
    font: 10px;
    font-style: italic;
}

.uppdragImgs {
    width: 60%;
    height: 60%;
    border-radius: 5%;
    transition: all .2s ease-in-out;
    filter: grayscale(100%);
}

.uppdragImgs:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

figcaption {
    padding: 5%;
    margin: 5%;
}

i {
    transition: all .2s ease;
}

i:hover {
    transform: scale(1.2);
    color: lightgrey;
}


@media screen and (max-width: 406px) {
    .navigation {
        flex-direction: column;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 16px;
    }
    .uppdragBoxes {
        flex: wrap;
        margin: 1%;
    }
    figcaption {
        font-size: 13px;
    }
    i > a {
        padding: 3%;
    }
}
