* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-weight: bold;
}


html, body {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    float: left;
    width: 10%;
    height: 10%;
    filter: grayscale(90%);
    border-radius: 30%;
}

.header {
    padding: 3%;
}

.intro {
    padding: 10%;
    text-align: center;
    font-style: italic;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 64px;
    font-weight: bold;
}

body {
    background-image: url(img/background-business-computer-303383.jpg);
    background-repeat: repeat;
    background-size: 1500px 1000px;
    
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.navigation > a {
    font-size: 16px;
    transition: all .2s ease-in-out;
    margin-top: 1%;
    padding: 1%;
    margin-bottom: 5%;
    margin-top: 3%;
}

.navigation > a:hover {
    background: transparent;
    border-radius: 15%;
    border-spacing: 100px;
    transform: scale(1.2);
    color: lightgrey;
}

h2 {
    font-size: 30px;
    padding: 5%;
}

section, footer {
    margin: 10%;   
    text-align: center;
}

.infoboxes {
    margin: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

i {
    width: 20%;
    height: 20;
}


.uppdragBoxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4%;
    font: 10px;
    font-style: italic;
}

.uppdragImgs {
    width: 60%;
    height: 60%;
    border-radius: 5%;
    transition: all .2s ease-in-out;
    filter: grayscale(100%);
}

.uppdragImgs:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

figcaption {
    padding: 5%;
    margin: 5%;
}


@media screen and (max-width: 406px) {
    .navigation {
        flex-direction: column;
    }
    h1 {
        font-size: 24px;
    }
    .uppdragBoxes {
        flex: wrap;
        margin: 1%;
    }
    figcaption {
        font-size: 13px;
    }
}
